<Layouts.app flash={@flash} current_user={@user}>
  <div class="space-y-8">
    <h1 class="text-2xl font-bold">Settings</h1>
    <._settings changeset={@changeset} user={@user} mnemonic={@mnemonic} flash={@flash} />
  </div>
</Layouts.app>
